//rest browser default styles



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root{
    --color-first:#1f2c38;
    --color-second: #6a53df; 
    --color-black: #000000;
    --color-gray-0: #F5F5F5;  /* Lightest Gray: For background, maintaining a clean aesthetic */
    --color-gray-1: #E0E0E0;  /* Light Gray: Possibly for borders or subtle shadows */
    --color-gray-2: #BDBDBD;  /* Mid Gray: For secondary text or inactive elements */
    --color-gray-3: #757575;  /* Dark Gray: For primary text on light backgrounds */
    --color-gray-4: #363434;  /* Darker Gray: For emphasized text or headings */
    --color-gray-5: #2a2d2d;  /* Near Black: For primary text or strong contrast */
    --color-gray-6: #111111;  /* Deepest Gray: Possibly for footer or header bg */
    --color-white: #FFFFFF;  
    --br-sm-2: 16px;
    --box-shadow-1: 0 2px 4px rgba(0,0,0,0.1);  /* Softened shadow for a light, modern touch */
}

.light-mode{
    --color-first: #ffffff;    /* Light blue, a much lighter version of your dark mode primary color */
    --color-second: #8c7ae6;   /* Slightly lighter shade of your dark mode secondary color */
    --color-black: #000000;
    --color-gray0: #f8f8f8;
    --color-gray-1: #7b7f82;
    --color-gray-2: #bec7ce;
    --color-gray-3: #777b7e;
    --color-gray-4: #454e56;
    --color-gray-5: #f8f8f8;
    --color-gray-6: #13171b;
    --color-white: #303233;  
}


body{
    background-color: var(--color-first);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--color-white);
    transition: all .3s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
header{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    overflow: hidden;


}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4rem 19rem ;
}
.section{
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .3s ease-in-out;
    background-color: var(--color-first);
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);

}
.sec2{
    display: none;
    transform: translateY(0) scale(1);

}
.sec3{
    display: none;
    transform: translateY(0) scale(1);

}
.sec4{
    display: none;
    transform: translateY(0) scale(1);

}
.sec5{
    display: none;
    transform: translateY(0) scale(1);

}
.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0% {transform: translateY(-100%) scaleY(0);}
        100% {transform: translateY(0) scaleY(1);}
    }
}


//controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 1.2rem;
        cursor: pointer;
        background-color: var(--color-gray-3);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: .5rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.5rem;
            color: var(--color-gray-2);
            pointer-events: none;
            
        }
    }
    .active-btn{
        background-color: var(--color-second) ;
        transition: all 0.3s ease-in-out;
        i { color: var(--color-white); }
    }
}

.theme-btn{
    top: 5%;
    right: 4%;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-gray-4);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 2px var(--br-sm-2) rgba(0,0,0,0.1);
    align-items: center;
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-3px);
    }
    display: flex;
    position: fixed;
    i{
        font-size: 1.5rem;
        color: var(--color-gray-2);
        pointer-events: none;
    }

}

/* Header-content */
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
        .h-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-second);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
        .image {

            border-radius: var(--br-sm-2);
            height: 60%;
            width: 45%;
            margin-left: 10rem;
            
            background-color: var(--color-black);
            transition: all .4s ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }

            }
            .avatar{
                border-radius: var(--br-sm-2);
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name {
            font-size: 3rem;
            span { color: var(--color-second); }
        }
        p {
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

/*About-content */
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
    padding-bottom: 5rem;
    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-item {
            border: 1.2px solid var(--color-gray-5);
            border-radius: 10px;
            transition: all .3s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-second);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-second);
                }
                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-gray-1);
                    letter-spacing: 2px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-gray-5);
                    }
                }
            } 
        }
    }
    .left-about {
        padding-right: 5rem;
        p {
            line-height: 1.5rem;
            padding: 1rem;
            color: var(--color-gray-1);
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
.about-stats{
    padding-bottom: 3.5rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .progress-title{
                text-transform: uppercase;
                font-weight: 400;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .progress-text{
                    color: var(--color-gray-2);

                }
                .progress{
                    width: 100%;
                    height: .5rem;
                    background-color: var(--color-gray-4);
                    margin-left: 1rem;
                    position: relative;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-second);
                        transition: all .4s ease-in-out;
                        width: 60%;
                    }
                    .html { width: 70%; }
                    .css { width: 80%; }
                    .js { width: 60%; }
                    .python{ width: 60%; }
                    .java{ width: 20%; }
                    .c{ width: 10%; }    
                }
            }
        }
    }
}
.stat-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    padding: 4rem 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 2px;
        background-color: var(--color-gray-5);
        transform: translateX(-50%);
    }
}
/* Time-line */
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .tl-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-gray-5);
        .tl-icon{
            position:absolute;
            left: -24px;
            top: 0;
            background-color: var(--color-second);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{ font-size: 1.5rem;}
        }
        .tl-duration{
            padding: .3rem 0;
            background-color: var(--color-gray-5);
            border-radius: 10px;
            display: inline-block;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1.5rem 0;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            span{
                color: var(--color-gray-2);
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
        p{
            line-height: 1rem;
            color: var(--color-gray-2);
        }
    }
}
/*Projects object-fit use contain,it will not stretch the image
use cover, it will be same with hover*/
.port-text{
    padding: 2rem 0;
    text-align: center;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 2.5rem;
    .project-item{
        position: relative;
        border-radius: var(--br-sm-2);
        img{
            width: 100%;
            height: 250px;
            object-fit: cover; 
            border-radius: var(--br-sm-2);
        }
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: var(--color-second);
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all .3s ease-in-out;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: scale(0);
            transition: all .3s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1rem;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    background-color: var(--color-first);
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .5rem;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 .5rem;
                    }
                    &:hover{
                        background-color: var(--color-white);
                        i{color: var(--color-first);}
                    }
                }


            }
            
        }
    }
}
/* return to initial state */
.project-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

//blogs
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 2.5rem;
    .blog-demo{
        position: relative;
        border-radius: 6px;
        background-color: var(--color-gray-5);
        box-shadow: 1px 2px 15px rgba(0,0,0,.1);
        transition: all .3s ease-in-out;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 1px 2px 15px rgba(0,0,0,.32);
            transition: all .3s ease-in-out;
            img{
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
        }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover; 
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            filter: grayscale(100%);
            transition: all .3s ease-in-out;
        }
        .blog-text{
            padding: 1rem;
            margin-top: -5px;
            border-top: 8px solid var(--color-second);
            h4{
                font-size: 1.5rem;
                font-weight: 500;
                transition: all .3s ease-in-out;
                &:hover{
                    color: var(--color-second);
                }
                cursor: pointer;
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.5rem;
                color: var(--color-gray-2);
                padding-bottom: 1rem;
            }
        }
    }
}

//Contact Section
.contact-content-con{
    display: flex;
    padding-top: 3rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        p{
            margin: 1rem 0;
            line-height: 1.5rem;
        }
        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                margin: 1rem 0;
                justify-content: space-between;
                p{
                    margin: .5rem 0 !important;
                    padding: 0 !important;
                }
                .contact-icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .social-icon{
            display: flex;
            margin-top: 2rem;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-gray-5);
                cursor: pointer;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin: 0 .5rem;
                transition: all .3s ease-in-out;
                i{
                    font-size: 1.5rem;
                    color: var(--color-white);
                }
                &:hover{
                    background-color: var(--color-second);
                    i{color: var(--color-first);}
                }
                i{ display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    justify-content: center;
                }
            }
        }
    }
    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 25px;
                border: none;
                padding: 1rem 1rem;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                outline: none;
                border: none;
                background-color: var(--color-gray-5);
                color: var(--color-white);
                resize: none;
                width: 100%;
            }
        }
        .input-control-line{
            display: flex;
            :last-child{
                margin-left: 2rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
}
/* Independent components */
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-size: 600;
    position: relative;
    border: 1px solid var(--color-second);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2.5rem;
    }
    .btn-icon{
        background-color: var(--color-second);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0; 
        right: 0;
        transform: translateX(100%);
        transition: all .3s ease-in-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            transform: translateX(0);
            width: 100%;
            height: 100%;
            background-color: var(--color-second);
        }
        .btn-icon{
            background-color: var(--color-second);
        }
        .btn-text{
            color: var(--color-white);
        }
    }

}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 650;
        span{
            color: var(--color-second);
        }
        .bg-text{
            position: absolute;
            top: 60%;
            left: 50%;
            color: var(--color-gray-5);
            z-index: -1;
            transition: all .3s ease-in-out;
            transform: translate(-50%, -50%);
            font-weight: 650;
            font-size: 7rem;
        }   
    }
}



@import './media';

